auto-deploy/packages/content/playbook-Demo_Setup_-_Send_.eml.yml
description: This playbook sends an email using an .eml file as a template.
dirtyInputs: true
id: Demo Setup - Send .eml
inputs: []
name: Demo Setup - Send .eml
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71151707-236d-44cd-896e-2b8a8b4732a8
      iscommand: false
      name: ""
      version: -1
    taskid: 71151707-236d-44cd-896e-2b8a8b4732a8
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f5c0425a-cfd0-4ce8-8676-dfb8ea0587ee
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f5c0425a-cfd0-4ce8-8676-dfb8ea0587ee
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2995
        }
      }
  "57":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: zip
                root: File
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "59"
      "yes":
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7a2c0f9d-7526-42bc-8a0e-04ec9c587b9f
      iscommand: false
      name: Are the file types zip?
      type: condition
      version: -1
    taskid: 7a2c0f9d-7526-42bc-8a0e-04ec9c587b9f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 895
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: zip
          root: File
      nonsensitive_password:
        simple: Password123$
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Unzip a file using fileName or entryID to specify a file. Unzipped
        files will be loaded to the War Room and names will be put into the context.
      id: b7f058e3-97e8-456f-8fbf-7602fa5d4413
      iscommand: false
      name: Extract zip archives
      script: UnzipFile
      type: regular
      version: -1
    taskid: b7f058e3-97e8-456f-8fbf-7602fa5d4413
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1070
        }
      }
  "59":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: eml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: eml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: message/rfc822
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: message/rfc822
                root: File
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "yes":
      - "84"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 78452097-929c-4484-86cf-76bdf2bd8524
      iscommand: false
      name: Are .eml files available?
      type: condition
      version: -1
    taskid: 78452097-929c-4484-86cf-76bdf2bd8524
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1245
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: No emails have been found.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 7141f23b-cdf3-4e78-84f9-7cb41398878a
      iscommand: false
      name: No emails to deliver
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 7141f23b-cdf3-4e78-84f9-7cb41398878a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1420
        }
      }
  "64":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: AttachmentFile
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "70"
      "yes":
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b36878b-43d5-4569-82a6-428b602de2a2
      iscommand: false
      name: Are attachments given?
      type: condition
      version: -1
    taskid: 0b36878b-43d5-4569-82a6-428b602de2a2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: File
      value:
        complex:
          root: AttachmentFile
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 97bb7150-21cd-499c-8f12-3de7d285a8f0
      iscommand: false
      name: Set AttachmentFile to File
      script: Set
      type: regular
      version: -1
    taskid: 97bb7150-21cd-499c-8f12-3de7d285a8f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: After running DeleteContext, this script can repopulate all the
        file entries in the ${File} context key
      id: 08596a1b-bdd4-469d-8d4f-503c2dc3c17c
      iscommand: false
      name: Retrieve files attached
      script: RepopulateFiles
      type: regular
      version: -1
    taskid: 08596a1b-bdd4-469d-8d4f-503c2dc3c17c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        complex:
          accessor: demosetupemail
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: cab45894-b728-4a59-84fe-ade8dc89bf2d
      iscommand: true
      name: Set Incident Name
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: cab45894-b728-4a59-84fe-ade8dc89bf2d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 545
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        complex:
          accessor: Name
          root: AttachmentFile
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 61667dc6-abf3-4687-88cf-0d4bcf982574
      iscommand: true
      name: Set Incident Name
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 61667dc6-abf3-4687-88cf-0d4bcf982574
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      listname:
        complex:
          accessor: demosetupemail
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'DemoSetup-Email:'
              suffix: {}
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Converts Base64 file in a list to a binary file and upload to warroom
      id: 87be67ff-a470-4c01-8dfd-c8931ec885ce
      iscommand: false
      name: Load the eml from the lists
      script: Base64ListToFile
      type: regular
      version: -1
    taskid: 87be67ff-a470-4c01-8dfd-c8931ec885ce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: ed5e7c18-85e8-4d18-811d-2c802db43b77
      iscommand: true
      name: Close
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ed5e7c18-85e8-4d18-811d-2c802db43b77
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2820
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: eml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: message/rfc822
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: eml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: message/rfc822
          root: File
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
      extend-context:
        simple: EmlData=.Data
      maxFileSize:
        simple: "30000000"
      output_metadata:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of a file into context.
      id: b25f1f2d-ceae-4f29-801b-3059dca503c9
      iscommand: false
      name: Read .eml file
      script: ReadFile
      type: regular
      version: -1
    taskid: b25f1f2d-ceae-4f29-801b-3059dca503c9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1595
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: EmlHeader
      value:
        complex:
          root: EmlData
          transformers:
          - args:
              action_dt: {}
              ignore_case: {}
              multi_line: {}
              output_format:
                value:
                  simple: \1
              period_matches_newline:
                value:
                  simple: "true"
              regex:
                value:
                  simple: (^.+?)\r?\n\r?\n.*
            operator: RegexReplace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 77ecd8a4-1a78-487d-8621-7718bf52b03b
      iscommand: false
      name: Set .eml Header
      script: Set
      type: regular
      version: -1
    taskid: 77ecd8a4-1a78-487d-8621-7718bf52b03b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1770
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: EmlBody
      value:
        complex:
          root: EmlData
          transformers:
          - args:
              action_dt: {}
              ignore_case: {}
              multi_line: {}
              output_format:
                value:
                  simple: \1
              period_matches_newline:
                value:
                  simple: "true"
              regex:
                value:
                  simple: ^.+?\r?\n\r?\n(.*)$
            operator: RegexReplace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: dc3c3090-83ce-4b0f-8111-aab32279428d
      iscommand: false
      name: Set .eml Body
      script: Set
      type: regular
      version: -1
    taskid: dc3c3090-83ce-4b0f-8111-aab32279428d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "80"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: EmlHeader
      value:
        complex:
          root: EmlHeader
          transformers:
          - args:
              action_dt:
                value:
                  simple: '.="To: " + val'
              ignore_case:
                value:
                  simple: "true"
              multi_line:
                value:
                  simple: "true"
              output_format:
                iscontext: true
                value:
                  simple: incident.demosetuprecipientemailaddress
              period_matches_newline:
                value:
                  simple: "true"
              regex:
                value:
                  simple: ^To:\s*.*?(?!\r?\n\s+)$
            operator: RegexReplace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 756dfb74-5100-4dc5-865e-762aab476fab
      iscommand: false
      name: Replace "To:" Header
      script: Set
      type: regular
      version: -1
    taskid: 756dfb74-5100-4dc5-865e-762aab476fab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      raw_message:
        complex:
          root: EmlHeader
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: EmlBody
            operator: append
          - args:
              separator:
                value:
                  simple: |2+


            operator: join
      to:
        complex:
          accessor: demosetuprecipientemailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: TSRAIN Mail Server Compact
      description: Send an email
      id: caf86b5f-b70b-4f09-81a0-e0f91c4de9f9
      iscommand: true
      name: Send .eml - TSRAIN
      script: TSRAIN Mail Server Compact|||send-mail
      type: regular
      version: -1
    taskid: caf86b5f-b70b-4f09-81a0-e0f91c4de9f9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2470
        }
      }
  "80":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: TSRAIN Mail Server Compact
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "81"
      "yes":
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: df2d1ee5-ece7-4045-8e4b-e4721ff3f2aa
      iscommand: false
      name: TSRAIN available?
      type: condition
      version: -1
    taskid: df2d1ee5-ece7-4045-8e4b-e4721ff3f2aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2295
        }
      }
  "81":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Mail Sender (New)
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "83"
      "yes":
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3861a89f-54dc-475d-86ee-de468e04846c
      iscommand: false
      name: Mail Sender (New) available?
      type: condition
      version: -1
    taskid: 3861a89f-54dc-475d-86ee-de468e04846c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2470
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      raw_message:
        complex:
          root: EmlHeader
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: EmlBody
            operator: append
          - args:
              separator:
                value:
                  simple: |2+


            operator: join
      to:
        complex:
          accessor: demosetuprecipientemailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Mail Sender (New)
      description: Send an email.
      id: 8a2b6e04-12c9-459d-89c2-3e5a4a87c777
      iscommand: true
      name: Send .eml - Mail Sender (New)
      script: Mail Sender (New)|||send-mail
      type: regular
      version: -1
    taskid: 8a2b6e04-12c9-459d-89c2-3e5a4a87c777
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2645
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      raw_message:
        complex:
          root: EmlHeader
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: EmlBody
            operator: append
          - args:
              separator:
                value:
                  simple: |2+


            operator: join
      to:
        complex:
          accessor: demosetuprecipientemailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email.
      id: de18482e-ed9a-4942-8f02-efe93f6bf7a4
      iscommand: true
      name: Send .eml - Generic
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: de18482e-ed9a-4942-8f02-efe93f6bf7a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2645
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 055da64f-725f-442d-8677-3732583cd396
      iscommand: false
      name: Send Email
      type: title
      version: -1
    taskid: 055da64f-725f-442d-8677-3732583cd396
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1435
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3010,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
