auto-deploy/packages/content/playbook-Demo_-_Phishing_Report_Response.yml
description: Analyze the suspicious .eml file attached by the user and provide the
  results back to the user.
dirtyInputs: true
id: Demo - Phishing Report Response
inputSections:
- description: Generic group for inputs
  inputs:
  - OrgUsersOnly
  - Language
  name: General (Inputs group)
inputs:
- description: Set to true to accept requests only from organizational users; false
    allows requests from all users.
  key: OrgUsersOnly
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Language for Reply Email (ja or en)
  key: Language
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: reporterlanguage
      root: incident
      transformers:
      - args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: en
        operator: SetIfEmpty
name: Demo - Phishing Report Response
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
starttaskid: "0"
tags:
- demo
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 335b92d2-e46f-43db-8a0b-041f5d6b46df
      iscommand: false
      name: ""
      version: -1
    taskid: 335b92d2-e46f-43db-8a0b-041f5d6b46df
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 49.5,
          "y": 54
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                root: IndicatorDBotScore
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: emailauthenticitycheck
                root: incident
          operator: isEqualString
          right:
            value:
              simple: Fail
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "51"
      "yes":
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the investigation found any malicious indicators (file,
        URL, IP address, domain, or email). Returns "yes" if at least one malicious
        indicator is found.
      id: 9ee4537d-b13c-436b-8624-e19be8feb01f
      iscommand: false
      name: Any malicious indicators found?
      type: condition
      version: -1
    taskid: 9ee4537d-b13c-436b-8624-e19be8feb01f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 2230
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eeefc9f5-e18c-4031-855e-9ce2389e13a0
      iscommand: false
      name: Process Reported Email
      type: title
      version: -1
    taskid: eeefc9f5-e18c-4031-855e-9ce2389e13a0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 49.5,
          "y": 885
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3ff89595-7dec-4a17-851c-86547765d842
      iscommand: false
      name: Get Reporter’s Org User Info
      type: title
      version: -1
    taskid: 3ff89595-7dec-4a17-851c-86547765d842
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 49.5,
          "y": 212
        }
      }
  "17":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Reporter Display Name
      output:
        complex:
          accessor: displayName
          root: ActiveDirectory.Users
          transformers:
          - operator: LastArrayElement
          - args:
              applyIfEmpty:
                value:
                  simple: "true"
              defaultValue:
                iscontext: true
                value:
                  simple: incident.reporterdisplayname
            operator: SetIfEmpty
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      email:
        complex:
          accessor: reporteremailaddress
          root: incident
      using:
        complex:
          accessor: name
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: modules.brand
              operator: isEqualString
              right:
                value:
                  simple: Active Directory Query v2
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: modules.state
              operator: isEqualString
              right:
                value:
                  simple: active
          root: modules
          transformers:
          - operator: StringifyArray
          - args:
              dt:
                value:
                  simple: |-
                    .=(() => {
                      let names = JSON.parse(val);
                      let preferred_names = names.filter(name => name.includes("xmocky"));
                      return preferred_names ? preferred_names : names;
                    })()
            operator: DT
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      id: ad0898f4-66ea-4d35-83d9-34c19bc2623c
      iscommand: true
      name: Retrieve user attributes from AD
      script: Active Directory Query v2|||ad-get-user
      type: regular
      version: -1
    taskid: ad0898f4-66ea-4d35-83d9-34c19bc2623c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 49.5,
          "y": 370
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 95205352-c460-4b57-8448-38b7a5b5f536
      iscommand: false
      name: Send Reply to Reporter
      type: title
      version: -1
    taskid: 95205352-c460-4b57-8448-38b7a5b5f536
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 2070
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        complex:
          root: ReplyTemplateName
          transformers:
          - args:
              prefix:
                value:
                  simple: '##########\s*'
              suffix:
                value:
                  simple: (.+?)(##########|$)
            operator: concat
          - args:
              flags:
                value:
                  simple: s
              regex: {}
              search_limit: {}
              template:
                value:
                  simple: \1
              template_type: {}
              text:
                iscontext: true
                value:
                  simple: 'lists.Demo JAPAC - Phishing Report Response: Reply Templates'
              value_takes:
                value:
                  simple: regex
            operator: RegexExpand
          - operator: trim
          - args:
              ctx_data:
                iscontext: true
                value:
                  simple: .
              ctx_inc:
                iscontext: true
                value:
                  simple: incident
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template: {}
              template_type: {}
              variable_markers: {}
            operator: FormatTemplate
      body_type:
        simple: text
      bodyType:
        simple: text
      subject:
        complex:
          accessor: reporteremailsubject
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'RE: '
              suffix: {}
            operator: concat
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
      using:
        complex:
          accessor: reporteremailsubject
          root: incident
          transformers:
          - args:
              algorithm:
                value:
                  simple: wildcard
              caseless: {}
              compare_fields: {}
              context: {}
              default_value: {}
              flags: {}
              mappings:
                iscontext: true
                value:
                  simple: SendMailChooser
              priority: {}
              wildcards: {}
            operator: MapPattern
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email using Microsoft Graph.
      id: 943f3d69-d307-4418-95b4-e1b5a44680a3
      iscommand: true
      name: Send a reply
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 943f3d69-d307-4418-95b4-e1b5a44680a3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 531,
          "y": 2729
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: 不審メール報告対処完了
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 4386c15b-6413-4c5e-83f3-ebe2e29bb802
      iscommand: true
      name: Close
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 4386c15b-6413-4c5e-83f3-ebe2e29bb802
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 531,
          "y": 2887
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "57"
      - "64"
    note: false
    quietmode: 0
    scriptarguments:
      AuthenticateEmail:
        simple: "true"
      Email:
        complex:
          accessor: =}
          root: ${
      Email/cc:
        complex:
          accessor: =}
          root: ${
      Email/format:
        complex:
          accessor: =}
          root: ${
      Email/from:
        complex:
          accessor: =}
          root: ${
      Email/headers:
        complex:
          accessor: =}
          root: ${
      Email/html:
        complex:
          accessor: =}
          root: ${
      Email/subject:
        complex:
          accessor: =}
          root: ${
      Email/text:
        complex:
          accessor: =}
          root: ${
      EmailHeadersGrid:
        simple: emailheaders,headername,headervalue
      File:
        complex:
          root: EmailFile
          transformers:
          - operator: LastArrayElement
      Forwarded:
        simple: "true"
      IncidentFieldCategories:
        simple: email*,attachment*
      UploadAttachments:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isNotEqualString
              right:
                value:
                  simple: original-email-file.eml
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: eml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: eml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: message/rfc822
          root: File
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: no-eml
            operator: SetIfEmpty
          - args:
              else:
                value:
                  simple: eml
              equals:
                value:
                  simple: no-eml
              then:
                value:
                  simple: no-eml
            operator: If-Then-Else
          - operator: uniq
          - args:
              item:
                iscontext: true
                value:
                  simple: ExtractedFiles
            operator: append
          - operator: count
          - args:
              else:
                value:
                  simple: "true"
              equals:
                value:
                  simple: "1"
              then:
                value:
                  simple: "false"
            operator: If-Then-Else
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Add email details to the relevant context entities and handle the
        case where original emails are attached.
      id: de9f1a39-f1b1-4a19-821a-569940e904b8
      iscommand: false
      name: Decode original reported emails
      playbookId: MM - Parse and Render an Email
      type: playbook
      version: -1
    taskid: de9f1a39-f1b1-4a19-821a-569940e904b8
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 1730
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: "3"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: f165ea19-c7de-4e7f-8c7c-6abf1b040b9e
      iscommand: true
      name: Set risk - High
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: f165ea19-c7de-4e7f-8c7c-6abf1b040b9e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1012,
          "y": 2400
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 4b5040d8-d74f-4794-85c9-bf4dfaffe603
      iscommand: true
      name: Set risk - Low
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4b5040d8-d74f-4794-85c9-bf4dfaffe603
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1493,
          "y": 2400
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: NoEmailFiles
          operator: isFalse
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "77"
      "yes":
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cebe4df7-8141-4077-881b-643d8e00d0b2
      iscommand: false
      name: Have any email files been attached?
      type: condition
      version: -1
    taskid: cebe4df7-8141-4077-881b-643d8e00d0b2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1373
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: File
      IncludeSelfFileHashes:
        simple: "true"
      InlineUpdateThresholdScore:
        simple: "2"
      Text:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.CC
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.From
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.Subject
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.To
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.Text
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.Headers
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.Attachments
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Email.Format
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.labels
              raw: {}
            operator: AppendIfNotEmpty
      UseGetIndicatorDBotScoreFromContext:
        simple: "false"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook extracts indicators from files and texts with the latest scores.
        Supported file types:

        - CSV
        - PDF
        - TXT
        - HTM, HTML
        - DOC, DOCX
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
        - XLSM
        - DOCM
        - PPTM
        - DOTM
        - XLSB
        - DOT
        - PPSM

        Note: this playbook doesn't extract indicators matched to the excluded list.
      id: a30001b1-70f7-4adc-8e87-2cc81738d7e2
      iscommand: false
      name: Extract & Update Indicators
      playbookId: MM - Extract Indicators with Updated Verdict
      type: playbook
      version: -1
    taskid: a30001b1-70f7-4adc-8e87-2cc81738d7e2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 1900
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: File
      OriginalEmailFileName:
        simple: original-email-file.eml
      UnarchivePassword:
        simple: Password123$
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook get an .eml/.msg file.
         - The playbook only accepts an email file or a zip file, and it doesn't return an file if no files or 2 or more email/zip files are given.
         - Zip files will be extracted to retrieve an email file.
      id: 87f34175-855b-443a-8481-d517b5143fff
      iscommand: false
      name: Extract an email attachment
      playbookId: MM - Extract an Email File
      type: playbook
      version: -1
    taskid: 87f34175-855b-443a-8481-d517b5143fff
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 49.5,
          "y": 1220
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    scriptarguments:
      PreferredInstance:
        complex:
          accessor: sourceInstance
          root: incident
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook creates a mapping pattern for MapPattern to choose
        send-mail integration instances.
      id: 593e8c6b-3b60-4451-829d-5e57424ca42e
      iscommand: false
      name: Select an instance for send-mail
      playbookId: MM - Make Send Mail Chooser
      type: playbook
      version: -1
    taskid: 593e8c6b-3b60-4451-829d-5e57424ca42e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 49.5,
          "y": 1050
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Name
          root: Domain
          transformers:
          - operator: uniq
      ExtractDomainFromURL:
        simple: "true"
      FileHash:
        complex:
          accessor: MD5
          root: File
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: File.SHA1
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: File.SHA256
              raw: {}
            operator: AppendIfNotEmpty
          - operator: uniq
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
      IP:
        complex:
          accessor: Address
          root: IP
          transformers:
          - operator: uniq
      IPv6:
        complex:
          accessor: Address
          root: IPv6
          transformers:
          - operator: uniq
      OutputIndicatorDBotScore:
        simple: "true"
      URL:
        complex:
          accessor: Data
          root: URL
          transformers:
          - operator: uniq
      UseGetIndicatorDBotScoreFromContext:
        simple: "false"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook add indicators to the Threat Intel if they are not
        there, and update enrich reputations.
      id: e5c5449e-4132-4d82-8673-2fad9be49d8b
      iscommand: false
      name: Update File Hash & Verdict
      playbookId: MM - Register Indicators with Updated Verdict
      type: playbook
      version: -1
    taskid: e5c5449e-4132-4d82-8673-2fad9be49d8b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1055,
          "y": 1900
        }
      }
  "65":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: EmailFile
          operator: isEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "49"
      "yes":
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bceb37b5-87f8-44b4-824b-2977803c2d8f
      iscommand: false
      name: Multiple email attachments?
      type: condition
      version: -1
    taskid: bceb37b5-87f8-44b4-824b-2977803c2d8f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 531,
          "y": 1557
        }
      }
  "68":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: dn
                root: ActiveDirectory.Users
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "71"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ae4fcabf-4709-45fe-8fdf-0b88b4290446
      iscommand: false
      name: Is this report from an organizational user?
      type: condition
      version: -1
    taskid: ae4fcabf-4709-45fe-8fdf-0b88b4290446
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 272,
          "y": 704
        }
      }
  "70":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.OrgUsersOnly
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 10222eb5-fcf3-41ee-8310-5c28ca7cf008
      iscommand: false
      name: Allow only organizational users?
      type: condition
      version: -1
    taskid: 10222eb5-fcf3-41ee-8310-5c28ca7cf008
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 49.5,
          "y": 537
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: No users found in Org
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 6b5118de-9003-4f80-897f-ed13dbfb4f78
      iscommand: true
      name: Close - No users found in Org
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 6b5118de-9003-4f80-897f-ed13dbfb4f78
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480.5,
          "y": 880
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: ReplyTemplateName
      value:
        complex:
          root: inputs.Language
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: en
            operator: SetIfEmpty
          - args:
              prefix:
                value:
                  simple: 'NO_RISKS_DETECTED:'
              suffix: {}
            operator: concat
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f89842d0-d294-44fb-8a8c-ecf883368720
      iscommand: false
      name: Set a reply template name - NO_RISKS_DETECTED
      script: Set
      type: regular
      version: -1
    taskid: f89842d0-d294-44fb-8a8c-ecf883368720
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1493,
          "y": 2570
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: ReplyTemplateName
      value:
        complex:
          root: inputs.Language
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: en
            operator: SetIfEmpty
          - args:
              prefix:
                value:
                  simple: 'RISKS_DETECTED:'
              suffix: {}
            operator: concat
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7e7cf849-795e-4f5b-8523-0e88f548d772
      iscommand: false
      name: Set a reply template name - RISKS_DETECTED
      script: Set
      type: regular
      version: -1
    taskid: 7e7cf849-795e-4f5b-8523-0e88f548d772
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1012,
          "y": 2570
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: ReplyTemplateName
      value:
        complex:
          root: inputs.Language
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: en
            operator: SetIfEmpty
          - args:
              prefix:
                value:
                  simple: 'MULTIPLE_ATTACHMENTS:'
              suffix: {}
            operator: concat
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ef9801fc-360e-4170-860c-e5b1358df9e1
      iscommand: false
      name: Set a reply template name - MULTIPLE_ATTACHMENTS
      script: Set
      type: regular
      version: -1
    taskid: ef9801fc-360e-4170-860c-e5b1358df9e1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 531,
          "y": 2570
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: ReplyTemplateName
      value:
        complex:
          root: inputs.Language
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: en
            operator: SetIfEmpty
          - args:
              prefix:
                value:
                  simple: 'NO_ATTACHMENTS:'
              suffix: {}
            operator: concat
          - operator: toUpperCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 81a6afa7-fab0-4c58-894c-184fbbe72152
      iscommand: false
      name: Set a reply message - NO_ATTACHMENTS
      script: Set
      type: regular
      version: -1
    taskid: 81a6afa7-fab0-4c58-894c-184fbbe72152
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2570
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2903,
        "width": 1824.5,
        "x": 49.5,
        "y": 54
      }
    }
  }
