auto-deploy/packages/content/playbook-MM_-_Extract_Indicators.yml
description: |-
  This playbook extracts indicators from files and texts without registering them in the Threat Intel DB.
  Supported file types:

  - CSV
  - PDF
  - TXT
  - HTM, HTML
  - DOC, DOCX
  - PPT
  - PPTX
  - RTF
  - XLS
  - XLSX
  - XML
  - XLSM
  - DOCM
  - PPTM
  - DOTM
  - XLSB
  - DOT
  - PPSM
dirtyInputs: true
id: MM - Extract Indicators
inputs:
- description: The file to extract indicators from
  key: File
  playbookInputQuery: null
  required: false
  value: {}
- description: Transient text to extract indicators from
  key: Text
  playbookInputQuery: null
  required: false
  value: {}
- description: None, Inline, Out Of Band, System Default
  key: AutoExtration
  playbookInputQuery: null
  required: false
  value:
    simple: None
- description: Set true to include hash values of the files given in the argument
    parameters, otherwise false.
  key: IncludeSelfFileHashes
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: MM - Extract Indicators
outputs:
- contextPath: ExtractedIndicatorValue
  description: Extracted Indicator Value
  type: string
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8420897f-0ca2-44c2-83ac-fd0e67c84ccc
      iscommand: false
      name: ""
      version: -1
    taskid: 8420897f-0ca2-44c2-83ac-fd0e67c84ccc
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 3255,
          "y": 50
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4c2ce038-bdff-43ec-83a6-577cf6ac9f65
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 4c2ce038-bdff-43ec-83a6-577cf6ac9f65
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2042.5,
          "y": 3820
        }
      }
  "102":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Text
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "137"
      "yes":
      - "107"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6cff2b96-c07a-4857-8e1b-11ee09879170
      iscommand: false
      name: Is Text given?
      type: condition
      version: -1
    taskid: 6cff2b96-c07a-4857-8e1b-11ee09879170
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3255,
          "y": 2410
        }
      }
  "104":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "147"
      "yes":
      - "114"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a1a5d40b-e887-490e-8f64-dd853f196f9e
      iscommand: false
      name: Is File given?
      type: condition
      version: -1
    taskid: a1a5d40b-e887-490e-8f64-dd853f196f9e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": 350
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "137"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      ignore-outputs:
        simple: "false"
      text:
        complex:
          root: inputs.Text
          transformers:
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: dee59c6c-2ba5-4da5-8f0a-4497ea458ab7
      iscommand: true
      name: Extract Indocators from Text
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: dee59c6c-2ba5-4da5-8f0a-4497ea458ab7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3142.5,
          "y": 2585
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "138"
      - "140"
      - "141"
      - "151"
      - "159"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: File
      value:
        complex:
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the input file into local context.
      id: 12e0e4f8-6d84-4016-833d-5e886c4de887
      iscommand: false
      name: Set file to local context
      script: Set
      type: regular
      version: -1
    taskid: 12e0e4f8-6d84-4016-833d-5e886c4de887
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 530,
          "y": 520
        }
      }
  "116":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: ASCII text
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Rich Text Format
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: UTF-8 Unicode text
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: text/plain
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: ASCII text
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: news or mail
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Composite Document File V2 Document, No summary info
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: text/rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xml
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: message/rfc822
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: p7m
                root: File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "136"
      "yes":
      - "117"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a text-based file in context. Skips MSG and
        EML files.
      id: f81e338e-0042-4a60-8b64-ef572cc6a99a
      iscommand: false
      name: Is there a text-based file?
      type: condition
      version: -1
    taskid: f81e338e-0042-4a60-8b64-ef572cc6a99a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 972.5,
          "y": 2420
        }
      }
  "117":
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "136"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: ASCII text
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Rich Text Format
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: UTF-8 Unicode
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: text/plain
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: ASCII text
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: news or mail
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Composite Document File V2 Document, No summary info
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: text/rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: notContainsGeneral
              right:
                value:
                  simple: xml
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: message/rfc822
          root: File
          transformers:
          - operator: uniq
      extend-context:
        simple: ExtractedIndicators=.=JSON.parse(val)
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from text-based files.
      id: 8f5007b9-0f25-4b4d-80a0-eaff29fe5e52
      iscommand: false
      name: Extract indicators from text-based file
      script: ExtractIndicatorsFromTextFile
      type: regular
      version: -1
    taskid: 8f5007b9-0f25-4b4d-80a0-eaff29fe5e52
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 860,
          "y": 2595
        }
      }
  "118":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                root: File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "126"
      "yes":
      - "119"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a PDF file in context.
      id: be59a827-df4f-4380-8e2e-eac7a0366a29
      iscommand: false
      name: Is there a PDF file?
      type: condition
      version: -1
    taskid: be59a827-df4f-4380-8e2e-eac7a0366a29
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2770,
          "y": 835
        }
      }
  "119":
    continueonerrortype: ""
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "129"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isEqualString
              right:
                value:
                  simple: application/pdf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: application/pdf
          root: File
          transformers:
          - operator: uniq
      extend-context:
        simple: ExtractedIndicators=.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load a PDF file's content and metadata into context.
      id: 0e5162a1-0f58-4b5e-8edf-79c3047ea717
      iscommand: false
      name: Extract indicators from PDF file
      script: ReadPDFFileV2
      type: regular
      version: -1
    taskid: 0e5162a1-0f58-4b5e-8edf-79c3047ea717
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2657.5,
          "y": 1360
        }
      }
  "120":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Composite Document File V2 Document
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Word
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: docx
                  - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: CDFV2
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xls
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsx
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Excel
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: ppt
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: pptx
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsm
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: docm
                root: File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "142"
      "yes":
      - "122"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: ffde76a5-6840-4b20-8f46-d954e904d3f8
      iscommand: false
      name: Is there a Word file?
      type: condition
      version: -1
    taskid: ffde76a5-6840-4b20-8f46-d954e904d3f8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1422.5,
          "y": 2420
        }
      }
  "122":
    continueonerrortype: ""
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Composite Document File V2 Document
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Microsoft Word
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: docx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: CDFV2
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xls
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsx
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Excel
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: ppt
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: pptx
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsm
          root: File
          transformers:
          - operator: uniq
      extend-context:
        simple: ExtractedIndicators=.=JSON.parse(val)
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: 313957ba-2f10-4b05-8915-ecb2c6d8fe90
      iscommand: false
      name: Extract indicators from Word file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: 313957ba-2f10-4b05-8915-ecb2c6d8fe90
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 2595
        }
      }
  "123":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/png
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpeg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/gif
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "125"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether images were extracted from PDF files.
      id: d3f6db69-8f41-4ce3-84af-47c0d5d04d6b
      iscommand: false
      name: Were images extracted?
      type: condition
      version: -1
    taskid: d3f6db69-8f41-4ce3-84af-47c0d5d04d6b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2545,
          "y": 2060
        }
      }
  "124":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Image OCR
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the Image OCR integration.
        enabled.
      id: b326c056-5256-4ab6-80db-b225c31e1986
      iscommand: false
      name: Is Image OCR enabled?
      type: condition
      version: -1
    taskid: b326c056-5256-4ab6-80db-b225c31e1986
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2657.5,
          "y": 1885
        }
      }
  "125":
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "135"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/png
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/gif
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts text from PNG, JPEG, and GIF image files, and uses auto-extract
        to get reputation for indicators.
      id: 1063a14c-d42c-4352-8894-831c7826eca9
      iscommand: true
      name: Extract text from images
      script: '|||image-ocr-extract-text'
      type: regular
      version: -1
    taskid: 1063a14c-d42c-4352-8894-831c7826eca9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2432.5,
          "y": 2235
        }
      }
  "126":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: ppt
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: pptx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: rtf
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xls
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xlsx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: xml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-powerpoint
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-excel
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                  - left:
                      iscontext: true
                      value:
                        simple: File
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xlsb
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Composite Document File V2 Document
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Microsoft Word
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: docx
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: notContainsString
                    right:
                      value:
                        simple: CDFV2
                root: File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "127"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Checks if one of the following file types exists:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 03abe212-cf97-4a11-8e41-4a8e7e1078f1
      iscommand: false
      name: Is there another supported document type?
      type: condition
      version: -1
    taskid: 03abe212-cf97-4a11-8e41-4a8e7e1078f1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2882.5,
          "y": 1010
        }
      }
  "127":
    continueonerrortype: ""
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "119"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      all_files:
        simple: "yes"
      entry_id:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: ppt
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: pptx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: rtf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: xls
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: xlsx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: xml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-powerpoint
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-excel
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: notContainsGeneral
              right:
                value:
                  simple: xlsb
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Composite Document File V2 Document
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Microsoft Word
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: docx
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: notContainsString
              right:
                value:
                  simple: CDFV2
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Converts the following formats to PDF format:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 80c4f95b-c9dc-4227-8f89-64d30000b71b
      iscommand: false
      name: Convert a document to PDF
      script: ConvertFile
      type: regular
      version: -1
    taskid: 80c4f95b-c9dc-4227-8f89-64d30000b71b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2770,
          "y": 1185
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "124"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      EntryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isEqualString
              right:
                value:
                  simple: application/pdf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: application/pdf
          root: File
          transformers:
          - operator: uniq
      file_name:
        simple: PDF_preview
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a preview (image) of the PDF files.
      id: 77ad39fd-6c6f-4b98-80a6-3e2975d04dbb
      iscommand: true
      name: Preview PDF files
      script: '|||rasterize-pdf'
      tags:
      - PDF_Images
      type: regular
      version: -1
    taskid: 77ad39fd-6c6f-4b98-80a6-3e2975d04dbb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2770,
          "y": 1710
        }
      }
  "129":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Rasterize
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "124"
      "yes":
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the Rasterize integration is enabled.
      id: e1edfca3-0512-48d5-86e2-5791417e282d
      iscommand: false
      name: Is Rasterize enabled?
      type: condition
      version: -1
    taskid: e1edfca3-0512-48d5-86e2-5791417e282d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2657.5,
          "y": 1535
        }
      }
  "132":
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8c51ac21-d384-406d-8485-7385bca9c2f7
      iscommand: false
      name: Extract indicators from Files
      type: title
      version: -1
    taskid: 8c51ac21-d384-406d-8485-7385bca9c2f7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 170,
          "y": 205
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "102"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0e9a9fe5-b338-4af4-821b-783b92cc4b96
      iscommand: false
      name: Extract indicators from Text
      type: title
      version: -1
    taskid: 0e9a9fe5-b338-4af4-821b-783b92cc4b96
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3255,
          "y": 2250
        }
      }
  "134":
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "139"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      ignore-outputs:
        simple: "false"
      text:
        complex:
          accessor: Text
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/png
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/gif
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: |2+

            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 5bbef3cb-9034-43e6-86b0-a984a3412b58
      iscommand: true
      name: Extract Indocators from File.Text
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 5bbef3cb-9034-43e6-86b0-a984a3412b58
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2320,
          "y": 2585
        }
      }
  "135":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Text
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/png
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpeg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/gif
                root: File
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "134"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9e799d68-ae61-4d46-8088-df0cd5cbbfc2
      iscommand: false
      name: Are texts extracted from image files?
      type: condition
      version: -1
    taskid: 9e799d68-ae61-4d46-8088-df0cd5cbbfc2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2432.5,
          "y": 2410
        }
      }
  "136":
    continueonerrortype: ""
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a1065605-fb43-4323-8620-4da5ad610f8e
      iscommand: false
      name: 'Done: Extract from Text files'
      type: title
      version: -1
    taskid: a1065605-fb43-4323-8620-4da5ad610f8e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 972.5,
          "y": 2770
        }
      }
  "137":
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3e88029e-d6f3-4544-81c9-190e343600c7
      iscommand: false
      name: 'Done: Extract from Text'
      type: title
      version: -1
    taskid: 3e88029e-d6f3-4544-81c9-190e343600c7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3255,
          "y": 2760
        }
      }
  "138":
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "118"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c85ec2bb-ade2-478c-836b-8fe3ce05184b
      iscommand: false
      name: Extract from PDF Files
      type: title
      version: -1
    taskid: c85ec2bb-ade2-478c-836b-8fe3ce05184b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2770,
          "y": 690
        }
      }
  "139":
    continueonerrortype: ""
    id: "139"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eb833a4b-fee9-4f54-8860-29535df38310
      iscommand: false
      name: 'Done: Extract from PDF files'
      type: title
      version: -1
    taskid: eb833a4b-fee9-4f54-8860-29535df38310
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2770,
          "y": 2760
        }
      }
  "140":
    continueonerrortype: ""
    id: "140"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "116"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2969c116-5c7b-4a7d-88c5-b94ae2195ad5
      iscommand: false
      name: Extract from Text files
      type: title
      version: -1
    taskid: 2969c116-5c7b-4a7d-88c5-b94ae2195ad5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 972.5,
          "y": 2250
        }
      }
  "141":
    continueonerrortype: ""
    id: "141"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 06e07f3a-677b-4ee4-80b4-2bd522dca5d6
      iscommand: false
      name: Extract from Word files
      type: title
      version: -1
    taskid: 06e07f3a-677b-4ee4-80b4-2bd522dca5d6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1422.5,
          "y": 2250
        }
      }
  "142":
    continueonerrortype: ""
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5ab8c45d-425c-4e46-8325-958a532d68a7
      iscommand: false
      name: 'Done: Extract from Word files'
      type: title
      version: -1
    taskid: 5ab8c45d-425c-4e46-8325-958a532d68a7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1422.5,
          "y": 2770
        }
      }
  "145":
    continueonerrortype: ""
    id: "145"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "155"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: ExtractedIndicatorValue
      value:
        complex:
          root: FilteredIndicatorValue
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleid.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleobj.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Olevba.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - operator: trim
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: dac3016c-6a63-4878-8821-7a1982bca7d3
      iscommand: false
      name: Set ExtractedIndicatorValues
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: dac3016c-6a63-4878-8821-7a1982bca7d3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2042.5,
          "y": 3280
        }
      }
  "147":
    continueonerrortype: ""
    id: "147"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: FilteredIndicatorValue
      value:
        complex:
          root: ExtractedIndicators
          transformers:
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - args:
              dt:
                value:
                  simple: '.=(val !== null && typeof val === "object") ? val : {}'
            operator: DT
          - args:
              fields:
                value:
                  simple: Domain
              json_object:
                value:
                  simple: '{}'
            operator: IgnoreFieldsFromJson
          - args:
              expression:
                value:
                  simple: '*'
            operator: jmespath
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - args:
              dt:
                value:
                  simple: '.=(val !== null && typeof val === "object") ? (val.value
                    ? val.value : '''') : val'
            operator: DT
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - operator: trim
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: c845b841-9f4c-43b5-8c2d-3051ab223fc0
      iscommand: false
      name: Set FilteredIndicatorValues except for Domain
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c845b841-9f4c-43b5-8c2d-3051ab223fc0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2042.5,
          "y": 2925
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "145"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      extend-context:
        simple: FilteredIndicatorValue=.
      input:
        complex:
          accessor: Domain
          root: ExtractedIndicators
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: ExtractIndicators.URL
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: ExtractIndicators.Email
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts domains and FQDNs from URLs and emails.
      id: ef35118b-92ec-4022-8df5-2dc8ec1626c5
      iscommand: false
      name: FilteredIndicatorValues from Domain
      script: ExtractDomainAndFQDNFromUrlAndEmail
      type: regular
      version: -1
    taskid: ef35118b-92ec-4022-8df5-2dc8ec1626c5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2042.5,
          "y": 3110
        }
      }
  "149":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Excel
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Excel
                root: File
                transformers:
                - operator: uniq
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "152"
      "yes":
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: 42c6f535-6c33-4f85-86c1-2d6037c343c1
      iscommand: false
      name: Is there a Excel file?
      type: condition
      version: -1
    taskid: 42c6f535-6c33-4f85-86c1-2d6037c343c1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1952.5,
          "y": 2060
        }
      }
  "150":
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "154"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryId:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: Microsoft Excel
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Microsoft Excel
          root: File
          transformers:
          - operator: uniq
      extend-context:
        simple: ExtractedIndicators=.=JSON.parse(val)
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: The automation takes Excel file (entryID) as an input and parses
        its content to the war room and context
      id: f5976d77-6071-4741-8f55-6b704113dd15
      iscommand: false
      name: Parse Excel files
      script: ParseExcel
      type: regular
      version: -1
    taskid: f5976d77-6071-4741-8f55-6b704113dd15
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 2235
        }
      }
  "151":
    continueonerrortype: ""
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 24f9f901-5159-43ac-8e78-ca3a4456bea3
      iscommand: false
      name: Extract from Excel files
      type: title
      version: -1
    taskid: 24f9f901-5159-43ac-8e78-ca3a4456bea3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1952.5,
          "y": 1920
        }
      }
  "152":
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 35e66d7f-cdec-4095-81f7-9b0aeeb31657
      iscommand: false
      name: 'Done: Extract from Excel files'
      type: title
      version: -1
    taskid: 35e66d7f-cdec-4095-81f7-9b0aeeb31657
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 2770
        }
      }
  "153":
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "152"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      text:
        complex:
          root: ParseExcel
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 18b0dbb0-126a-4f2e-8987-69e05c2ed7b4
      iscommand: true
      name: Extract indicators from Excel file
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 18b0dbb0-126a-4f2e-8987-69e05c2ed7b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 2585
        }
      }
  "154":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: ParseExcel
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "152"
      "yes":
      - "153"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6ba9febb-400d-4773-8e90-6d4958cb9f5d
      iscommand: false
      name: Are there records extracted from Excel?
      type: condition
      version: -1
    taskid: 6ba9febb-400d-4773-8e90-6d4958cb9f5d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 2410
        }
      }
  "155":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoExtration
          operator: isEqualString
          right:
            value:
              simple: None
      label: None
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoExtration
          operator: isEqualString
          right:
            value:
              simple: Inline
      label: Inline
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoExtration
          operator: isEqualString
          right:
            value:
              simple: Out Of Band
      label: Out Of Band
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoExtration
          operator: isEqualString
          right:
            value:
              simple: System Default
      label: System Default
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Inline:
      - "156"
      None:
      - "97"
      Out Of Band:
      - "157"
      System Default:
      - "158"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d780d93-8531-48e8-865b-3ca3667a1108
      iscommand: false
      name: Check Auto Extraction
      type: condition
      version: -1
    taskid: 7d780d93-8531-48e8-865b-3ca3667a1108
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2042.5,
          "y": 3450
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      value:
        complex:
          root: FilteredIndicatorValue
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleid.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleobj.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Olevba.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - operator: trim
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 40b42531-a361-49c4-8889-43b273a2338c
      iscommand: false
      name: 'AutoExtraction: Inline'
      script: Print
      type: regular
      version: -1
    taskid: 40b42531-a361-49c4-8889-43b273a2338c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3630
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    reputationcalc: 3
    scriptarguments:
      value:
        complex:
          root: FilteredIndicatorValue
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleid.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleobj.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Olevba.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - operator: trim
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 84b603c6-2172-46e5-854b-6cb6fbbeb0a7
      iscommand: false
      name: 'AutoExtraction: Out Of Band'
      script: Print
      type: regular
      version: -1
    taskid: 84b603c6-2172-46e5-854b-6cb6fbbeb0a7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1422.5,
          "y": 3630
        }
      }
  "158":
    continueonerrortype: ""
    id: "158"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedIndicatorValue
      value:
        complex:
          root: FilteredIndicatorValue
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleid.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Oleobj.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              item:
                iscontext: true
                value:
                  simple: Oletools.Olevba.sha256
              raw: {}
            operator: AppendIfNotEmpty
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
          - operator: trim
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 26c39c2c-eaa4-476b-8ee1-153c9cbde038
      iscommand: false
      name: 'AutoExtraction: System Default'
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 26c39c2c-eaa4-476b-8ee1-153c9cbde038
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1820,
          "y": 3630
        }
      }
  "159":
    continueonerrortype: ""
    id: "159"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "160"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bef21f0c-6766-4ae3-8f90-5b57058bf0d6
      iscommand: false
      name: Set Self File Hashes
      type: title
      version: -1
    taskid: bef21f0c-6766-4ae3-8f90-5b57058bf0d6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 530,
          "y": 2250
        }
      }
  "160":
    continueonerrortype: ""
    id: "160"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "161"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedIndicators
      value:
        complex:
          root: inputs.File
          transformers:
          - args:
              dt:
                value:
                  simple: '.={File: [val.MD5, val.SHA1, val.SHA256, val.SHA512].filter(Boolean)}'
            operator: DT
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 1f4b4d47-7035-4c9f-8cb9-0c12dabe95ce
      iscommand: false
      name: Set Self File Hashes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 1f4b4d47-7035-4c9f-8cb9-0c12dabe95ce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 530,
          "y": 2420
        }
      }
  "161":
    continueonerrortype: ""
    id: "161"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da2c059b-b0a9-4d4d-8e4e-07a9dd13da24
      iscommand: false
      name: 'Done: Set Self File Hashes'
      type: title
      version: -1
    taskid: da2c059b-b0a9-4d4d-8e4e-07a9dd13da24
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 530,
          "y": 2770
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "118_119_yes": 0.36
    },
    "paper": {
      "dimensions": {
        "height": 3830,
        "width": 3466,
        "x": 170,
        "y": 50
      }
    }
  }
